.trip-display-container {
    height: 100%;
    background-color: #E3E1E3;
    max-height: 100%;
}
.list-trip-display {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    gap: 16px;
    min-height: 0;
    padding-bottom: 50px;
    background-color: #F3F0F3;
    position: relative;
}
.top-shadow {
  position:absolute;
  height: 25px;
  width: 100%;
  z-index: 11;
  margin-top: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  pointer-events: none; // để không cản scroll hoặc click
}