html, body, #root, .select-trip-container {
  height: 100%;
  margin: 0;
}
.select-trip-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    background-color: #F3F0F3;
    overflow-y: hidden;
}