.vertical2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  height: 100%;
  width: 150px;
}
.horizontal2 {
  display: flex;         
  justify-content: center;    
  align-items: center;                     
}
.skeleton-line {
  height: 20px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 8px;
}

.skeleton-line.short {
  width: 50%;
}

.skeleton-line.long {
  width: 75%;
}
.skeleton-line.sshort {
  width: 25%;
}
.skeleton-line.ssshort {
  width: 10%;
}

.skeleton-line.slong {
  width: 90%;
}
.skeleton-line.width3 {
  width: 30px;
}
.skeleton-line.max {
  width: 100%;
}
.skeleton-line.height5 {
    height: 50px;
}
.skeleton-box,
.skeleton-circle,
.skeleton-button {
  background: #e0e0e0;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.skeleton-box {
    width: 80px;
    height: 40px;
}
.skeleton-button {
    width: 120px;
    height: 50px;
}
.skeleton-circle {
  border-radius: 50%;
}
/* Shimmer animation */
.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
.bus-card2 {
  background: white;
  border-radius: 12px;
  padding: 16px;
  width: 90%;
}

.bus-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.bus-card__route {
  background: #fcfcfc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-img{
  max-height: 32px;
  padding-bottom: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #0d47a1;
  border-radius: 50%;
}

.bus-card__line-container {
  position: relative;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bus-card__line {
  border-top: 4px dashed #e7e4e4;
   flex: 1;
   position: relative;
   margin-top: 7px;
   
}
.semi-circle {
  width: 30px;
  height: 30px;
  background-color: #f3f0f3; 
  border-radius: 50%;
  position: absolute; 
  top: 0;
  z-index: 1;
  visibility: visible !important;
}

.cirle-left {
  left: -30px;
}

.cirle-right {
  right: -30px;
}

.bus-card__content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.location {
  width: 220px;          
  white-space: normal;   
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}
.brand-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bus-card__image {
  width: 80px;
  height: 60px;
  border-radius: 10px;
  margin-right: 15px;
}

.bus-card__info {
  flex: 1;
}

.bus-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.rating {
  color: rgb(0, 0, 0);
  font-size: 28px;
  margin-right: 5px;  
}
.fav_icon {
  max-height: 28px;
  max-width: 28px;
  margin-right: 5px;
}
.favourite-btn {
  background-color: #ffffff;
  border: none;
  margin-left: 4px;
  justify-content: end;
  object-fit: cover;
  width: 40px;
  height: 40px;
}
.favourite-btn::after{
  border: none !important;
}
.rules {
  color: #0C4095;
  font-size: 23px;
  font-weight:600;
  margin-top: 4px;
  display: block;
}

.type {
  font-size: 23px;
  color: #000000;
  margin-top: 2px;
  text-align: right;
}


.bus-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.price {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.price2 {
  display: flex;
  flex-direction: column;
}

.seats-left {
  font-size: 23x;
  color: black;
}

.continue-btn {
  background-color: #F6F6FF;
  color: #0C4095;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  width: 150px;
}
.continue-btn::after{
  border: none !important;
}

.text-left {
  text-align: left; 
  margin-left: 10px;
}

.text-right {
  text-align: right;
  margin-right: 10px;
}